**/pdfa.xmpi
**/*.aux
**/*.bbl
**/*.blg
**/*.loa
**/*.lof
**/*.lot
**/*.log
**/*.out
**/*.pdf
**/*.synctex.gz
**/*.toc
**/*.fls
**/*.fdb_latexmk
**/*.bcf
**/*.nav
**/*.snm
**/*.run.xml

!academica/example.pdf
!presenta/example.pdf
!**/aau.pdf
!**/uniud.pdf
